*

!.gitignore
!*/
!dlif_pipeline/**/*
!rwd_features.json
!classification_config.json
!data_curation.py
!enums.py
!i3l_ml.py
!i3l_statistics.py
!split.json
!submodel_features.json
!classification.ipynb
!survival.ipynb
!survival_config.json
!features.json
!graphs_classification.ipynb
!graphs_i3lung.ipynb
!DeLong_test.py
!helper_classification.py
!helper_survival.py
!helper_survival_fairness.py
!helper_survival_graphs.py
!graphs_survival_analysis.ipynb
!graphs_survival_fairness.ipynb
!I3LUNG_PDSS/dlif_pipeline/data/**/*
!Metadata_Extraction.ipynb
!data_visualization.ipynb
!requirements.txt
# py cache
__pycache__/

*.pyc

# Ignore specific dlif_pipeline subdirectories
dlif_pipeline/bags/